.happy i{
  font-size: 79px;
  color: #707070;
}
.achieve{
  background: #ddd;
  border-radius:  0 35px;
  padding: 15px;
  margin-bottom: 55px;
}
.achieve:hover{
    color: #fff;
    background: linear-gradient( to right, rgba(28, 216, 186, 1), rgba(6, 171, 238, 1));
}
@media(max-width:576px){
  .achieve-area{
    margin-left: 55px;
  }
}